<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363317058184-03uudcpf8ku1nrvblk1foeg3og9fj1b2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363317058184-03uudcpf8ku1nrvblk1foeg3og9fj1b2</string>
	<key>API_KEY</key>
	<string>AIzaSyBwOBcVRngYa7YGnNt9aTdlJBPFZnQvf94</string>
	<key>GCM_SENDER_ID</key>
	<string>363317058184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-5acc6</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-5acc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363317058184:ios:4cf22b18f8c54f6af19d3d</string>
</dict>
</plist>